body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-footer {
    text-align: right;
    font-size: 14px;
    color: white;
    margin-top: auto; /* 하단 정렬을 위해 */
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul ul {
    padding-left: 15px;
}


.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
}

.sidebar ul ul li {
    border-bottom: none;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 100vh;
}


h1 {
    font-size: 24px;
    color: #2c3e50;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section input {
    padding: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #34495e;
    color: white;
}

.status {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.green {
    background-color: #2ecc71;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 15px;
    margin: 5px;
}

.hidden {
    display: none;
}

/* 아이콘 관련 */
.hover-icon {
    width: 15px; /* 아이콘 크기 설정 */
    height: 15px;
    vertical-align: middle;
}

a:hover .hover-icon {
    display: inline-block; /* 마우스 오버 시 아이콘 표시 */
}

.hidden-text {
    display: none; /* 숫자 숨기기 */
}

/* 링크 스타일 - 밑줄 제거, 파란색 및 굵은 글씨 */
.custom-link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

/* 방문한 링크 스타일 */
.custom-link:visited {
    color: blue;
}

/* 마우스 오버 시 색상 변경 */
.custom-link:hover {
    color: darkblue;
}

/* 숨겨진 텍스트 스타일 (기본적으로 숨김) */
.hidden-text {
    display: none;
}

/* 마우스 오버 시 숨겨진 텍스트 보이기 */
p:hover .hidden-text {
    display: inline;
}

/* 아이콘 숨기기 */
.hover-icon {
    display: none;
}

/* 마우스 오버 시 아이콘 표시 */
p:hover .hover-icon {
    display: inline-block;
}